@charset "UTF-8";
/*importar as fontes*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;700&display=swap');
:root{
    --font-principal:"Poppins", serif;
    --font-secundaria: "Lobster", serif;
    --cor-principal: #747bff;
    --cor-destaque: #ffad32; 
    --cor-principal-alpha: #747bff2d;
    --cor-gradiente-01: #ffe7c2;
    --cor-gradiente-02: #bdacff;
    --cor01: #f9f9f9;
    --cor02: #b8c0c7;
    --cor03: #767f86;
    --cor04: #3c4852;
    --cor05: #00000043;
    /*box shadow*/
    --shadow: 0 0.3rem 0.4rem 0.1rem var(--cor05);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html{
    font-family: var(--font-principal);
    font-size: 1.2em;
}
body{
    color: var(--cor04);
}
/*barra de nav fixa, com menu*/
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-principal);
    /*background-color: var(--cor-principal-alpha);*/
    padding: 0.6rem 3rem;
    color: var(--cor01);
    letter-spacing: 0.1em;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}
.logo{
    font-family: var(--font-secundaria);
    font-size: 1.4em;
}
.menu a {
    text-decoration: none;
    color: var(--cor01);
    font-weight: 700;
    padding: 0.7em 1em;
    transition: .4s;
}
.menu a:hover{
    color: var(--cor-destaque);
}
/* banner e calendario */
header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url('../img/banner.jpg') center center;
    background-size: cover;
    height: 96vh;
}
header div{
    width: 100%;
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor01);
    font-size: 1.7em;
    font-weight: 700;
    letter-spacing: .1em;
    word-spacing: .5em;
    height: 100%;
    text-shadow: 0.2rem 0 0.2rem var(--cor04);
}
.booking{
    background-color: var(--cor-principal-alpha);
    padding: 0.8em 3em;
}
.booking form{
    background-color: var(--cor01);
    color: var(--cor03);
    padding: 1rem 1.4rem;
    display: flex;
    align-items: end;
    border-radius: 0.2em;
}
form label{
    display: block;/*fixa o label */
}
form input{
    font-size: 1rem;
    width: 80%;
    padding: 0.5rem ;
    border-radius: 0.3rem;
    border: 0.1rem solid var(--cor02);
}
button{
    background-color: var(--cor-destaque);
    color: var(--cor01);
    font-size: 1rem;
    font-weight: 700;
    padding: 0.6rem 1.6rem;
    border-radius: 0.5rem;
    border: none;
    transition: 0.4s;
}
button:hover{
    background-color: var(--cor-principal);
    cursor: pointer;
}
/*passeios*/
section{
    margin: 2.5rem auto;
    padding: 6rem 3rem;
    min-height: 100vh;
}
.passeios{
    display: flex;
}
.passeios h1{
    font-family: var(--font-secundaria);
    color: var(--cor-principal);
}
.passeios hr{
    margin: 1rem 0;
    border: solid var(--cor-destaque);
    border-radius: 1rem;
    width: 15rem;
}
.passeios p{
    margin: 1rem 0;
}
.info-passeios{
    text-align: justify;
    padding-right: 3rem;
    flex: 1;
}
.fotos-passeios{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex: 1;
}
.foto {
    width: calc(50% - 0.5rem);
    border: var(--cor01)  solid 0.6rem;
    box-shadow: var(--shadow);
}
.foto img{
    width: 100%;
    display: flex;
}
.destinos{
    background: linear-gradient(50deg, var(--cor-gradiente-01), var(--cor-gradiente-02));
}
.destinos h1{
    font-family: var(--font-secundaria);
    color: var(--cor-principal);
    text-align: center;
    padding-bottom: 1rem;
}
.grupo-destinos{
    padding: 0 3rem;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3rem 1.2rem;
}